@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');



/* Reset global */
* {
    margin: 0;
    padding: 0;
}

/* Estilos del cuerpo */
body {
    background-color: #ffffff;
    color: #ffffff; 
    font-family: 'Ubuntu', sans-serif;
    margin: 5%;
}

/* Estilos del encabezado */
header {
    text-align: center;
    background-color: #ffffff;
}

/* Estilos específicos para los encabezados */
header h1,
header h2 {
    font-weight: normal;
    line-height: 1;
}

header h2 {
    margin-top: 5px;
    opacity: 1;
}
/* Estilos específicos para los titulos */
h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 1%;
}

h4 {
    margin-top: 5%;
}

/* Estilos específicos para el contenedor*/

.container{
    background-color: #04284b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.cabecera{
    position: relative;
}

/* Estilos específicos para añadir una imagen de fondo con opacidad a la cabecera*/
.cabecera::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imagen/inge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1; /* Opacidad del 60% para la imagen de fondo */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}

/* Crear marco circular de la foto de perfil con borde y sombra */

.contenedor_foto_perfil{
    width: 280px; /* Ancho inicial del contenedor */
    height: 280px; /* Altura inicial del contenedor */
    border-radius: 50%; /* Borde redondeado para hacerlo circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del cont... */
    display: inline-block;
    vertical-align: middle;
    border: 7px solid #000000;
    margin: 5%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.contenedor_foto_perfil img{
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* La imagen se comporta como un bloque para evitar espacio */
}

.nombre{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.contenido_cv {
    display: flex;
    width: 100%;
}

.habilidades {
    display: inline-block;
    vertical-align: top;
    background-color: #0e0f10;
    padding: 5%;
    width: 28%;
}

.habilidades ul {
    margin-left: 5%;
}

.presentacion {
    text-align: justify;
}

.habilidad{
    display: inline-block;
    margin-top: 1%;
    vertical-align: middle;
}

.experiencia{
    display: inline-block;
    vertical-align: middle;
    padding: 5%;
    width: 50%;
}

.experiencia h3{
    text-align: right;
}

.nombre_empresa{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.año_puesto{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 49%;
}
